body{
    background: url(download.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
table{
    border-spacing: 10px;

}

.first-div{
    margin: auto;
}

h3{
    text-align: center;
    color: #fff;
    font-size: 23px;
}




input{
    width: 450px;
    height: 17px;
    padding: 15px;
    margin-left: 8px; 
    padding-bottom: 15px;
    border-radius: 50px 50px;
    
}

div{
    border: solid 1px rgb(0, 0, 0);
    width: 33%;
    padding: 15px;
    border-radius: 60px 60px;
    background-color:rgba(37, 36, 36, 0.87);
    
}

td{
    border: solid 1px rgb(0, 0, 0);
    width: 450px;
    text-align: center;
    border-radius: 10px 10px;
    
}

.hover:hover{
    color: #000;
}

.sec{
    background: radial-gradient(#ff523b 60%,#000);
}

.first{
    background:radial-gradient(#bebebe 60%,#ff45); 
}


.third{
    background:radial-gradient(#000 60%,#ff45);
    color: #fff; 
}